.fade_in{
    width: 50%;
    position:relative;
    top: 100px;
    margin:auto;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    animation: fade-in 2s;
    -webkit-animation: fade-in 1.5s;
    /*test*/
    /*background-color: darkorange;*/
}
@keyframes fade-in {
    0% {opacity: 0; top: 0px;}/*初始状态 透明度为0*/
    40% {opacity: 0;}/*过渡状态 透明度为0*/
    100% {opacity: 1;}/*结束状态 透明度为1*/
}
@-webkit-keyframes fade-in {/*针对webkit内核*/
    0% {opacity: 0;
        top: 0px;}
    40% {opacity: 0;}
    100% {opacity: 1;}
}